@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

ul li {
  list-style-type: square;
  margin-left: 1rem;
}

button:focus {
  box-shadow:
    0 0 0 2px white,
    0 0 0 4px rgb(30 64 600);
}
